import File from 'docusaurus-file';
import {customFields } from '../../docusaurus.config';
const repo = customFields.repo

## Gyakorlat anyagai

<File filename="elso/Main.java" folder="konk" repo={repo}/>